
<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
	  <h1>Welcome to Coffee with a Creeper</h1>

	  <h2>
	    This is the home page for the
	    <a href="http://railstutorial.org/">Coffee with a Creeper</a>
	    sample application.
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<div class="pure-u-1 pure-u-md-1-2" >
	<iframe src="http://www.w3schools.com"></iframe>
	</div>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
