
<div class="pure-g">
	<div class="pure-u-1">
	  <h1>Welcome to <br> Coffee with a Creeper</h1>
	  <h2>
	    where karma and caffeine combine
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "button-signup pure-button", id: "sign-up" %>
	</div>

	
</div>


