<footer class="footer">
  <small>
    by Joe C. and Loide M.
  </small>
  <nav class="pure-u-1 pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://newhaven.craigslist.org/i/personals?category=mis">Craigslist Missed Connections</a></li>
    </ul>
  </nav>
</footer>