body h3 {
	font-family:Pacifico;
	font-size: 65px;
	line-height: .65 ;
	text-shadow: black 0.1em 0.1em 0.2em;	
}

.form {
	text-align: left;
	font-weight: bold;
	color:red;
}

#sign-up2 {
	background-color: rgb(202, 60, 60);
	color:white;
	margin:20px;
}

.pure-input-rounded {
	margin:10px;
}

.fields {
	margin:10px;
}